
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <style>
                .gradient-custom {
                /* fallback for old browsers */
                background: #f6d365;
                
                /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
                
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
                }
            </style>
        {% block content %}
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="{{ candidate.image.url }}" class="round-cricle" width="150" height="100" />
                <h5>{{candidate.first_name}} {{candidate.last_name}}</h5>
                <h6>Skill Set</h6>
                <p>{{candidate.skills_set}}</p>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h5>professinal Expeience in years </h5>
                <P>{{candidate.professinal_expeience}}</P>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{candidate.email_address}}

                      </p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{candidate.mobile_number}}</p>
                    </div>

                    <div class="col-6 mb-3">
                        <h6>Appllication Status</h6>
                        <p class="text-muted">{{candidate.status}}</p>
                      </div>

                    <div class="col-6 mb-3">
                        <h6>Resume</h6>
                        <a href='{% url "read" %}'>
                            <button >
                                view resume
                            </button>
                        </a>

                      </div>

                      <div class="col-6 mb-3">
                        <form method="GET" >
                            {% csrf_token %}
                            <a href = '{% url "accept_or_reject" candidate.id %}'>
                            <button class="btn btn-outline-success" type="submit" value="ACCEPT">ACCEPT</button>
                            <button class="btn btn-outline-success" type="submit" value = "REJECT">REJECT</button>
                        </a>
                        </form>
                        </a>

                      </div>

                </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>